h3{
    background-color:orange;
    color:white;
}
.classone{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px
}
#curtain{
color:blue

}
#blind{
    color:blue
    
    }